export PATH=$PATH:$(pwd)/node_modules/.bin/
export NVM_DIR="$HOME/.nvm"; [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"; nvm install
export NODE_ENV=dev
export WEB_URL=http://3e358042.ngrok.io
export SELENIUM_HUB_ADDR=http://localhost:4444/wd/hub
